.form-actions {
  display: flex;
  gap: var(--spacing-md);
  justify-content: flex-end;
  width: 100%;
}

.form-header {
  font-size: var(--font-size-lg);
  margin-bottom: var(--spacing-lg);
}

.button {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-size-base);
  margin-top: var(--spacing-md);
  padding: var(--spacing-md) var(--spacing-lg);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 50%;
}

.submit-button {
  background-color: var(--color-springload-green);

}

.submit-button:hover {
  background-color: var(--color-green-hover);
}

.reset-button {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.reset-button:hover {
  background-color: var(--color-secondary-hover);
}

@media (max-width: 600px) {
  form {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .form-actions {
    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .submit-button,
  .reset-button {
    width: 100%;
  }
}