:root {
  font-family: sans-serif;

  --color-background: #e3e3e3;
  --color-springload-green: #0dad59;
  --color-green-hover: #0fc565;
  --color-secondary: #666;
  --color-secondary-hover: #888;
  --color-white: #fff;
  --color-error: red;

  --font-size-lg: 1.5rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;

  --spacing-xl: 2.5rem;
  --spacing-lg: 1.5rem;
  --spacing-md: 1rem;
  --spacing-sm: 0.5rem;
  --spacing-xs: 0.25rem;

  --border-radius: 0.25rem;
  --border-width: 1.5px;
}

body {
  background-color: var(--color-background);
  padding: 2rem;
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-sm);
  margin: 0 var(--spacing-xs) 0 0;
  min-height: var(--font-size-lg)
}

input[aria-invalid="true"] {
  border-color: var(--color-error) !important;
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: var(--spacing-xs);
}

.select-field {
  box-sizing: border-box;
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-sm);
  width: 100%;
}

fieldset {
  border: var(--border-width) solid var(--color-secondary);
  border-radius: var(--border-radius);
  padding: var(--spacing-sm);
}

input[type="radio"],
input[type="checkbox"] {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  accent-color: var(--color-springload-green);
}

label {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    padding: var(--spacing-sm);
    margin: 0;
  }
}